<!DOCTYPE html> 
<html dir="ltr" lang="en-US"> 

% include head data={"info": info}

<body> 
    % include navbar data={"info": info, "__simulate": "active", "__results": ""}

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1>Simulate. <small>customize your parameters<small></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <form class="form-horizontal" action="/" method="post">

                    % for param in sigma['parameters']:
                     <div class="control-group">
                         <label class="control-label">{{ param['display'] }}</label>
                         <div class="controls">
                            <input type="text" name="{{ param['name'] }}" value="{{ param['default'] }}">
                         </div>
                     </div>
                     % end

                    <input class="btn btn-large btn-block btn-primary" type="input" value="Run Simulation">
                </form>
            </div>
            <div class="span6">
                <div class="well">
                    <p> LOREM IPSUM DOLOR </p>
                </div>
            </div>
        </div>
   </div>
</body> 
</html> 
 
